/* Variables */
:root {
    --background-color: rgb(118, 147, 129);
    --hero-background-color: #f5f1e9;
    --hero-font-color: #282725;
    --font-color:#fff;
    --body-font-family: "Roboto", sans-serif;
    --header-font-family: "Playfair Display", serif;
}
/* Page Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--font-color);
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
body {
    font-family: var(--body-font-family);
    background: var(--background-color);
    color: var(--font-color);
    font-size: 1.5vw;
    line-height: 1.5;
}
h1, h3 {
    font-family: var(--header-font-family);
}
h1 {
    font-size: 5vw;
}
h2 {
    font-weight: bold;
    font-size: 4vw;
}
h3 {
    font-size: 3vw;
}

/* Header Styles */
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px;
}

/* Hero Styles */
.hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    height: 300px;
    max-height: 400px;
}
.hero::after {
    content:"";
    opacity: 0.5;
    background-image: url("../images/hero_image.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.hero-subtitle h2{
    padding: 20px;
}

/* Information Styles */
.information {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}
.information-article {
    display: flex;
    flex-basis: 100%;
    padding-bottom: 20px;
}
.information-header {
    text-align: right;
    padding: 0px 20px;
    flex-basis: 25%;
}
.information-body {
    padding: 0px 20px;
    border-left: solid 1px;
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* Contact Me Styles */
.contact-me-links a {
    padding-right: 10px;
}

/* MEDIA QUERIES */
/* Smaller Desktop Screens and Smaller */
@media screen and (max-width: 980px) {
}
/* Tablets and Smaller */
@media screen and (max-width: 768px) {
    header h1 {
        font-size:  48px;
    }
    header nav {
        padding-top: 10px;
        font-size: 16px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    body {
        font-size: 16px;
    }
    .hero {
        height: 200px;
    }
    .information {
        margin: 24px auto;
    }
    .information-article {
        flex-direction: column;
    }
    .information-header {
        text-align: left;
        border-bottom: 1px solid;
        margin: 10px 0px;
    }
    .information-body {
        border-left: 0px;
    }
}
/* Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    header {
        position: relative;
        justify-content: center;
    }
    header nav ul li a  {
        font-size: 14px;
        padding: 10px;
    }
    body {
        font-size: 14px;
    }
    .hero {
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .information {
        margin: 20px auto;
    }
    .information-article {
        padding-bottom: 10px;
    }
    .information-header, .information-body {
        padding: 0px 10px;
    }
    .contact-me-links {
        display: flex;
        flex-direction: column;
    }
}