/* Variables */
:root {
    --background-color: rgb(118, 147, 129);
    --hero-background-color: #f5f1e9;
    --hero-font-color: #282725;
    --font-color:#fff;
    --body-font-family: "Roboto", sans-serif;
    --header-font-family: "Playfair Display", serif;
}
/* Page Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--font-color);
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
body {
    font-family: var(--body-font-family);
    background: var(--background-color);
    color: var(--font-color);
    font-size: 2vw;
}
h1, h3 {
    font-family: var(--header-font-family);
}
h1 {
    font-size: 5vw;
}
h2 {
    font-weight: bold;
    font-size: 4vw;
}
h3 {
    font-size: 3vw;
}

/* Header Styles */
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
}

/* Hero Styles */
.hero {
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.hero::after {
    content:"";
    opacity: 0.5;
    background-image: url("../images/hero_image.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.hero-subtitle h2{
    padding: 20px 35px;
}

/* Information Styles */
.information {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}
.information-article {
    display: flex;
    flex-basis: 100%;
    padding-bottom: 20px;
}
.information-header {
    text-align: right;
    padding: 0px 20px;
    flex-basis: 25%;
}
.information-body {
    padding: 0px 20px;
    border-left: solid 1px;
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* Contact Me Styles */
.contact-me-links a {
    padding-right: 10px;
}